.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #974EC3;
    -fx-padding: 10;
}

.label {
    -fx-text-fill: #504099;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #bb3583, #a6a6a6,#ffffff);
    -fx-text-fill: #313866;
    -fx-font-weight: bold;
    -fx-background-radius: 15;
    -fx-padding: 8 15;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #bb3583, #a6a6a6,#ffffff);
}

.table-view {
    -fx-background-color: #974EC3;
    -fx-border-color: #ffb3d9;
    -fx-border-radius: 10;
}

.table-column {
    -fx-alignment: CENTER;
}
.button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-background-color: linear-gradient(to bottom, #bb3583, #a6a6a6,#ffffff);
}
